@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');



header {
  margin: 0;
  background-color: black;
  color: white;
}

body {
  margin: 0;
  padding-top: 20px;
  background-color: black;
  color: white;
  font-size: 1.75rem;
  transition:2s;  
}

h1, h2 {
  font-size:4rem;
  margin: 0px;
}

/*Toggle Dark Mode*/
.dark-mode .srbutton {
  background:#60f;
  color:white;
  }  
.srbutton {
  margin: 10px 0 0;
  background:#0f9;
  color:black;  
  border:none;
  border-radius:100px;
  padding:16px 24px;
  outline:none;
  font-weight:bold;
  font-size:24px;
  cursor: pointer;
  }    
.dark-mode {
  transition:2s;
  background-color: white;
  color: black;
}

/*main text transitions*/
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
  min-height: 60vh;
  padding-top: 15%;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}


/*aspiring software developer in rainbow*/
.rainbow {
  margin-top: 0px;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}



.rotating-text {
  font-size:4rem;
  font-weight: 600;
  margin: 0px;
  min-height: 10vh;
  padding-top: 0px;
}
.rotating-text p {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
  justify-content: center;
}
.rotating-text p .word {
  position: absolute;
  display: flex;
  opacity: 0;
}
.rotating-text p .word .letter {
  transform-origin: center center 25px;
}
.rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.6s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text p .word .letter.in {
  transition: 0.6s ease;
}
.rotating-text p .word .letter.behind {
  transform: rotateX(-90deg);
}
.alizarin {
  color: #e74c3c;
}
.wisteria {
  color: #8e44ad;
}
.peter-river {
  color: #3498db;
}
.emerald {
  color: #2ecc71;
}



/* Books AKA image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 15%;
  padding: 5px;
  margin-left: 50px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;

}
/* Clear floats after image containers */
.row::after {
  content:"";
  clear: both;
}
.column {
  padding: 10px;
  width: 100%;
  max-width: 175px;
  will-change: transform;
  transform-origin: 0 100%;
  transform: rotate(-10deg);
  transition: transform 0.3s ease-out;
}
.column:hover {
  transform: rotate(0);
}




/*parallax*/
.container {
  height: 100vh;
  max-width: 100%;
}
.container img {
  width: 100%;
  position: absolute;
  height: 100vh;
  object-fit: cover;
}
.nextContent {
  width: 100%;
  min-height: 10vh;
  z-index: 2;
}

