@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

.header {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 10px;
}

a {
  text-decoration: none;
  color: rgb(105, 62, 248);
}

body {
  margin: 0;
  padding-top: 20px;
  background-color: #121212;
  color: antiquewhite;
  font-size: 1.75rem;
  font-weight: 100;
  transition:2s;  
}

h1, h2 {
  font-size:4rem;
  font-weight: 100;
  margin: 0px;
}
h3 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0px;
}

/*Toggle Dark Mode*/
.dark-mode .srbutton {
  background:#60f;
  color:white;
  }  
.srbutton {
  margin: 10px 0 0;
  background:#0f9;
  color:black;  
  border:none;
  border-radius:100px;
  padding:16px 24px;
  outline:none;
  font-weight:bold;
  font-size:24px;
  cursor: pointer;
  }    
.dark-mode {
  transition:1.4s;
  background-color: white;
  color: black;
}

/*main text transitions*/
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
  min-height: 60vh;
  padding-top: 15%;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}


/*aspiring software developer in rainbow*/
.rainbow {
  margin-top: 0px;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}



.rotating-text {
  font-size:4rem;
  font-weight: 600;
  margin: 0px;
  min-height: 10vh;
  padding-top: 0px;
}
.rotating-text p {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
  justify-content: center;
}
.rotating-text p .word {
  position: absolute;
  display: flex;
  opacity: 0;
}
.rotating-text p .word .letter {
  transform-origin: center center 25px;
}
.rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.6s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text p .word .letter.in {
  transition: 0.6s ease;
}
.rotating-text p .word .letter.behind {
  transform: rotateX(-90deg);
}
.alizarin {
  color: #e74c3c;
}
.wisteria {
  color: #8e44ad;
}
.peter-river {
  color: #3498db;
}
.emerald {
  color: #2ecc71;
}



/* Books AKA image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 15%;
  padding: 5px;
  margin-left: 50px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;

}
/* Clear floats after image containers */
.row::after {
  content:"";
  clear: both;
}
.column {
  padding: 10px;
  width: 100%;
  max-width: 175px;
  will-change: transform;
  transform-origin: 0 100%;
  transform: rotate(-10deg);
  transition: transform 0.3s ease-out;
}
.column:hover {
  transform: rotate(0);
}




/*parallax*/

.container {
  height: 100vh;
}
.container img {
  width: 100%;
  position: absolute;
  height: 110vh;
  object-fit: cover;
  z-index: -1;
}

.content {
  width: 100%;
  background: transparent;
  z-index: 2;
  position: absolute;
}
.content-images {
  align-items: center;
  min-height: 60vh;
  text-align: center;
}
.hidden2 {
  text-align: center;
  margin: 10%;
}


/* Simple CSS Waves*/


.inner-header {
  height:-65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}
/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  h1 {
    font-size:24px;
  }
}
/* Simple CSS Waves end */