@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body {
    background-color: #131316;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin-top: 140;
    text-align: center;
}

header {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0 0 25px 0 black;
}
header * {
    display: inline;
}
header li {
    margin: 50px;
}
header li a {
    color: white;
    text-decoration: none;
}

section { /*main text transitions from the left*/
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 10vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logos {
    display: flex;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 500ms;
}
.logo:nth-child(4) {
    transition-delay: 800ms;
}

.logo:nth-child(5) {
    transition-delay: 1200ms;
}

.logo:nth-child(6) {
    transition-delay: 1600ms;
}
#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
}

/*aspiring software developer in rainbow*/
.rainbow {
    text-align: center;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    margin-top: -5%;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

/* Books AKA image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 15%;
    padding: 5px;
    margin-left: 50px;
  }
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
.column {
	padding: 10px;
    width: 100%;
	max-width: 175px;
	will-change: transform;
	transform-origin: 0 100%;
	transform: rotate(-10deg);
	transition: transform 0.3s ease-out;
}
.column:hover {
    transform: rotate(0);
}


/*Mentorship rotating cube animation*/
cube {
    align-content: center;
}
    body{
        margin: auto;
        padding:0px;
        font-family: Poppins, sans-serif;
        text-align: center;
    }

    a:hover,a:active{
        text-decoration:none;
    }
    .home{
        width:100%;
        align-content: center;
    }
    .home:before{
        content: ' ';
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.9);
        align-content: center;
    }
    .home h3{
        position:relative;
        font-size: 3em;
        text-align: center;
        color:#009393;
        font-weight:700;
        align-content: center;
    }

    .stage{
        width: auto;
        margin-top: 15px;
        height: 100px;
    }
    .cubespinner{
        -webkit-animation-name:spincube;
        -webkit-animation-timing-function:ease-in-out;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-duration:8s;
        animation-name:spincube;

        animation-timing-function:ease-in-out;
        animation-iteration-count:infinite;
        animation-duration:8s;
        -webkit-transform-style:preserve-3d;
        -moz-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
        transform-style:preserve-3d;
        -webkit-transform-origin:40px 40px 0;
        -moz-transform-origin:40px 40px 0;
        -ms-transform-origin:40px 40px 0;
        transform-origin:40px 40px  0;
    }
    .cubespinner div{
        position:absolute;
        width:400px;
        height:80px;
        text-align:left;
        color:#109393;
        font-family:'Raleway', sans-serif;
        font-size:74px;
        font-weight:700;
        }
    .cubespinner .face1{
        color:#f1c40f;
        -webkit-transform:translateZ(40px);
        -moz-transform:translateZ(40px);
        -ms-transform:translateZ(40px);
        transform:translateZ(40px);
        -webkit-backface-visibility: hidden;
        }
        .cubespinner .face2{
            color:rgb(199, 25, 25);
            -webkit-transform: rotateX(90deg) translateZ(40px);
            -moz-transform: rotateX(90deg) translateZ(40px);
            -ms-transform: rotateX(90deg) translateZ(40px);
            transform: rotateX(90deg) translateZ(40px);
            -webkit-backface-visibility: hidden;
        }
        .cubespinner .face3{
            color:#4187e2;
            -webkit-transform:rotateX(180deg)  translateZ(40px);
            -moz-transform:rotateX(180deg)  translateZ(40px);
            -ms-transform:rotateX(180deg)  translateZ(40px);
            transform:rotateX(180deg)  translateZ(40px);
            -webkit-backface-visibility: hidden;
            }
        .cubespinner .face4{
            color:rgb(82, 218, 55);
            -webkit-transform:rotateX(270deg) translateZ(40px);
            -moz-transform:rotateX(270deg) translateZ(40px);
            -ms-transform:rotateX(270deg) translateZ(40px);
            transform:rotateX(270deg) translateZ(40px);
            -webkit-backface-visibility: hidden;
        }


    /*Cubical Flipping or rotation*/
    @-webkit-keyframes spincube {
        from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
        15%      { -webkit-transform: rotateX(90deg);}
        25%      { -webkit-transform: rotateX(90deg);}
        40%      { -webkit-transform: rotateX(180deg);}
        50%      { -webkit-transform: rotateX(180deg);}
        65%      { -webkit-transform: rotateX(270deg);}
        75%      { -webkit-transform: rotateX(270deg);}
        95%      { -webkit-transform: rotateX(360deg);}
        100%      { -webkit-transform: rotateX(360deg);}
    }
    @keyframes spincube {
        from,to {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
        }
        15% {
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        transform: rotateX(90deg);
        }
        25% {
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        transform: rotateX(90deg);
        }
        40% {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        transform: rotateX(180deg);
        }
        50% {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        transform: rotateX(180deg);
        }
        65% {
        -webkit-transform: rotateX(270deg);
        -moz-transform: rotateX(270deg);
        -ms-transform: rotateX(270deg);
        transform: rotateX(270deg);
        }
        75% {
        -webkit-transform: rotateX(270deg);
        -moz-transform: rotateX(270deg);
        -ms-transform: rotateX(270deg);
        transform: rotateX(270deg);
        }
        90% {
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
        -ms-transform: rotateX(360deg);
        transform: rotateX(360deg);
        }
        100% {
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
        -ms-transform: rotateX(360deg);
        transform: rotateX(360deg);
        }
    }

